{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blogNews.css' %}">
        <title>Initial Project</title>
    </head>
    <body>
       <div class="page-header">
           <a href="{% url 'new_add' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
           <a href="{% url 'new_add_class' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
           <h1><a href = "/"> Initial Project </a></h1>
       </div>
       {% block content %}
       {% endblock %}

    </body>
</html>