{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blogNews.css' %}">
        <title>Initial Project</title>
    </head>
    <body>
       <div class="container">
           <div class="row">
               <div class="col-sm-10">
                   <h1><a href = "/"> Initial Project </a></h1>
               </div>
               <div class="col-sm-2">
                    <a href="{% url 'new_add' %}" class="top-menu"><button class="btn btn-default">V1</button></a>
                    <a href="{% url 'new_add_class' %}" class="top-menu"><button class="btn btn-default">V2</button></a>
               </div>
           </div>

       </div>
       {% block content %}
       {% endblock %}

    </body>
</html>