{% extends 'blogNews/base.html'%}

{% block content %}
<table>
            <thead>
                <tr>
                   <th>Title</th>
                   <th>Subtitle</th>
                   <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for new in news %}
                    <tr>
                        <td><a href = "{% url 'new_detail_class' pk=new.pk %}" >{{ new.title }} </a></td>
                        <td>{{ new.subtitle }}</td>
                        <td>
                            <a class="btn btn-primary" href="{% url 'new_edit_class' pk=new.pk %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'new_delete_class' pk=new.pk %}">Delete</a>
                        </td>
                    </tr>
                {% empty %}
                    <h1>There are no News records</h1>
                {% endfor %}
            </tbody>
       </table>
{% endblock %}
